:root {
    --color-background: #e2dce9;
    --color-menu: #220348;
    --color-font-secundary: #1F476D;
    --color-font-terciary: #5E0020;
    --color-delete: #952146;
    --color-white: #fff;
    --color-font-primary: #0A0016;
    --color-success: #A8E890;
    --color-shadow: rgba(0, 0,0, 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: var(--color-background);
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 128rem;
    margin: 0 auto;
}

header {
    background: var(--color-menu);
    font-size: 2rem;
}

.menu {
    padding: 2rem;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: var(--color-white);
    margin: 0 1rem;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover {
    color: var(--color-font-secundary);
}
/* content-form */
.content {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-form {
    padding: 5rem 2rem;
    font-size: 2rem;
    min-width: 40rem;
}

.content-form h1{
    font-size: 4rem;
    text-align: center;
    color: var(--color-font-terciary);
}

.content-form form label {
    display: block;
    color: var(--color-font-primary);
    margin: 1.2rem 0.5rem;
}

.content-form form input {
    display: block;
    width: 100%;
    padding: 1.5rem;
    border: 1px solid var(--color-font-primary);
}

.errorlist {
    list-style: none;
    color: red;

}
.errorlist li {
    margin: 1rem 0;
    font-size: .5rem 0 1rem 0;
}

.send {
    margin-top: 1rem;
    background: var(--color-menu);
    color: var(--color-white);
    display: block;
    padding: 1.2rem;
    border: 0;
    transition: all 300ms ease-in-out;
}

.send:hover {
    cursor: pointer;
    background-color: var(--color-font-secundary);
}
/* footer */

footer {
    background: var(--color-menu);
    color: var(--color-font-secundary);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
}

footer h3 {
    padding: 3rem;
    font-size: 2rem;
}

footer a:hover {
    color: var(--color-font-terciary);
}

/* painel */

.not-tasks {
    font-size: 2rem;
    color: var(--color-font-secundary);
}

.welcome {
    font-size: 3rem;
}

.content-list {
    min-height: 90vh;
    margin: 2rem;
}

.content-list h1 {
    font-size: 2rem;
    margin: 2rem 0.5rem;
    color: var(--color-font-terciary);
}

.task-create {
    text-align: right;
    margin: 2rem 0;
}

.new-task {
    display: inline-block;
    padding: 2rem;
    background: var(--color-font-secundary);
    color: var(--color-white);
    text-decoration: none;
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}

.new-task:hover {
    background: var(--color-font-primary);
}


.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4rem;
    color: var(--color-white);
    justify-content: center;
}
.task-one {
    width: 40%;
    margin: 3rem 0;
    box-shadow: 0 2rem 5rem var(--color-shadow);
    background: var(--color-font-terciary);
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

.task-one:hover {
    transform: scale(1.05);
}

.task-one a {
    text-decoration: none;
}

.finished {
    background: green;
}
.task-info {
    padding: 4rem 1rem;
    font-size: 1.5rem;
}
.title {
    font-size: 4rem;
}

.edit {
    display: block;
    background: var(--color-font-primary);
    color: var(--color-white);
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

.edit:hover {
    background: var(--color-white);
    color: var(--color-font-primary);
}


.delete {
    display: block;
    background: var(--color-delete);
    color: var(--color-white);
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;

}

.delete:hover {
    background: var(--color-white);
    color: var(--color-font-primary);
}

.content-options {
    display: flex;
    justify-content: space-between;
}

.pagination {
    font-size: 1.7rem;
    display: flex;
    margin: 2rem 1rem;
    align-items: flex-end;
}

.pagination a, .pagination span, .limit a, .limit span {
    display: inline-block;
    padding: 1rem;
    border: 1px solid var(--color-font-primary);
    text-decoration: none;
    color: var(--color-font-primary);
}

.pagination a:hover, .limit a:hover {
    background: var(--color-menu);
    color: var(--color-background);
}

.pagination span, .limit span {
    background: var(--color-font-secundary);
}

.limit {
    font-size: 1.7rem;
    margin: 2rem 1rem;
}

/* MESSAGES */

.messages {
    padding: 1rem;
    background: var(--color-font-primary);
    color: var(--color-white);
    margin: 2rem 1rem;
    font-size: 1.9rem;
}

.message-error {
    background-color: var(--color-font-terciary);
}

.message-success {
    background-color: var(--color-success);
}

/* responsive */

@media screen and (max-width: 72rem) {
    .task-one {
        width: 100%;
        margin: 2rem 5rem;
    }
}

@media screen and (max-width: 45rem) {
    .task-one {
        margin: 2rem 1rem;
    }
    .title {
        font-size: 2rem;
    }
    .task-info {
        font-size: 1rem;
    }
    .edit, .delete {
        font-size: 1.1rem;
    }
    .new-task {
        padding: 1rem;
        font-size: 1.5rem;
    }
    .menu {
        padding: 1rem;
    }

    .menu ul {
        justify-content: center;
    }

    footer h3 {
        padding: 1.5rem;
        font-size: 1.2rem;
    }

    .content-form {
        min-width: 0;
        font-size: 1.5rem;
    }

    .content-form h1 {
        font-size: 3rem;
    }

    .pagination {
        font-size: 1rem;
        display: flex;
        margin: 1rem 1rem;
        align-items: flex-end;
    }

    .limit {
        font-size: 1rem;
        margin: 1rem 1rem;
    }
    
}
